.container {
  max-width: 1200px;
  margin: 0 auto;
}

.comments {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.title {
  text-align: center;
}


.comment {
  padding: 8px;
  border-color: bisque;
  border: 1px solid blue;
  margin: 5px;
  max-width: 30%;
  height: 160px;
  background-color: lightgray;
}

.comment div {
  margin-bottom: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination__list {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}

.pagination__item {
  padding: 8px;
  margin: 8px;
  cursor: pointer;
}

.active {
  font-weight: 800;
  color: red;
}