.img{
  width: 250px;
  height: 150px;
  background-size: cover;
}
.html{
  background-image: url('https://itproger.com/img/courses/1476977240.jpg');
}
.css{
  background-image: url('https://itproger.com/img/courses/1476977488.jpg');
}
.js{
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/1200px-Unofficial_JavaScript_logo_2.svg.png');
background-size: contain;
background-repeat: no-repeat;
}